@use '@/assets/styles/abstract/colors' as colors;

.log {
  max-width: 20rem;
  color: colors.$color-mandras;
  margin: 2rem auto;
  text-align: center;

  &__game-turn {
    border-radius: 4px;
    animation: slide-in-from-left 1s cubic-bezier(0.075, 0.82, 0.165, 1) forwards;
    margin: 0.75rem;

    &--highlighted {
      background-color: colors.$color-mandras;
      color: colors.$color-white;
    }
  }
}
