@import '@/assets/styles/abstract/variables';

.log {
  max-width: 20rem;
  color: $color-mandras;
  list-style: none;
  margin: 2rem auto;
  padding: 0;
  text-align: center;

  &__game-turn {
    border-radius: 4px;
    animation: slide-in-from-left 1s cubic-bezier(0.075, 0.82, 0.165, 1) forwards;
    margin: 0.75rem;

    &--highlighted {
      background-color: $color-mandras;
      color: $color-white;
    }
  }
}
