@use '@/assets/styles/abstract/colors' as colors;
@use '@/assets/styles/abstract/fonts' as fonts;

.game-hints {
  text-align: center;
  color: colors.$color-mondo;

  &__title {
    font-family: fonts.$font-family-secondary;
    font-size: fonts.$font-size-lg;
    margin: 0;
  }

  & ul {
    list-style: none;
    padding: 0;
    margin: 0;
  }

  & button {
    cursor: pointer;
    border: none;
    background: transparent;
    color: colors.$color-tuatara;
    font: inherit;
    margin-top: 1.5rem;
  }
}
