@use '@/assets/styles/abstract/colors' as colors;
@use '@/assets/styles/abstract/fonts' as fonts;

.game-hints {
  text-align: center;
  color: colors.$color-mondo;

  &__title {
    font-family: fonts.$font-family-secondary;
    font-size: fonts.$font-size-lg;
  }

  & button {
    font: inherit;
    color: colors.$color-tuatara;
    margin-top: 1.5rem;
  }
}
