@use '@/assets/styles/abstract/colors' as colors;
@use '@/assets/styles/abstract/fonts' as fonts;

.player {
  width: 50%;
  font-weight: bold;
  border: 2px solid transparent;
  padding: 0.5rem;
  border-radius: 4px;

  &--active {
    border-color: colors.$color-energy-yellow;
    animation: pulse 2s infinite ease-in-out;
  }

  &__name {
    display: inline-block;
    width: 10rem;
    font-size: fonts.$font-size-sm;
    color: colors.$color-tana;
    text-transform: uppercase;
    margin: 0;
    padding: 0.5rem;
    border-radius: 4px;
    text-overflow: ellipsis;
    text-align: center;

    &--active {
      color: colors.$color-energy-yellow;
    }
  }

  &__name-input {
    font: inherit;
    color: inherit;
    font-size: fonts.$font-size-sm;
    width: 10rem;
    border: none;
    padding: 0.5rem;
    animation: pulse-text 2s infinite;
    background-color: colors.$color-mondo;
    text-align: center;
    text-transform: uppercase;
  }

  &__symbol {
    margin-left: fonts.$font-size-sm;
    font-size:fonts.$font-size-sm;
    color: colors.$color-tana;

    &--active {
      color: colors.$color-energy-yellow;
    }
  }

  &__button {
      width: 3rem;
    border: none;
    background: none;
    color: colors.$color-gimblet;
    font-size: fonts.$font-size-xs;
    cursor: pointer;
    transition: color 0.2s;
    padding: 0.5rem 0.25rem 0.25rem 0.25rem;
    text-align: center;

    &:hover:enabled {
      color: colors.$color-saffron;
    }
  }
}
