@import '@/assets/styles/abstract/variables';

.pre-game {
  text-align: center;

  &__start {
    cursor: pointer;
    background: none;
    color: $color-saffron-alternate;
    border: none;
    font-family: 'Caprasimo', cursive;
    font-size: 4rem;
    text-shadow: 0 0 12px rgba($color-black, 0.7);
    animation: pulse-text-size 2s infinite ease-out;
  }
}
