@use '@/assets/styles/abstract/colors' as colors;
@use '@/assets/styles/abstract/fonts' as fonts;

.game-board {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 2rem;
  margin: 3rem 0;
  padding: 0;
  flex-direction: column;

  & ol {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 2rem;
  }

  &__square {
    font-family: fonts.$font-family-secondary;
    font-size: fonts.$font-size-xxxl;
    width: 8rem;
    height: 8rem;
    background: colors.$color-hillary;
    color: colors.$color-mandras;
    cursor: pointer;
    padding: 1rem;
  }
}
