@import '@/assets/styles/abstract/variables';

.game-container {
  max-width: 45rem;
  margin: 3rem auto;
  padding: 2rem;
  border-radius: 6px;
  background: linear-gradient($color-birch, $color-zeus);
  box-shadow: 0 0 20px rgba($color-black, 0.5);
  position: relative;
}
