// Colors
$color-birch: #383624;
$color-black: #000000;
$color-dandelion: #FCD256;
$color-energy-yellow: #F6E35A;
$color-gimblet: #C3BA78;
$color-hillary: #ACA788;
$color-mandras: #3F3B00;
$color-mondo: #46432F;
$color-rajah: #FAB067;
$color-ronchi: #F1D246;
$color-saffron: #F8CA31;
$color-saffron-alternate: #F8C031;
$color-sea-buckthorn: #F8A531;
$color-selective-yellow: #FFBB00;
$color-tana: #E1DEC7;
$color-tallow: #9F9D83;
$color-tuatara: #23221F;
$color-white: #FFFFFF;
$color-whisper: #EBE7EF;
$color-zeus: #282617;
