// abstracts/_fonts.scss

@import url('https://fonts.googleapis.com/css2?family=Caprasimo&family=Roboto+Slab:wght@400;700&display=swap');

// Font families
$font-family-primary: 'Roboto Slab', serif;
$font-family-secondary: 'Caprasimo', cursive;

// Font sizes
$font-size-xs: 0.9rem;
$font-size-sm: 1rem;
$font-size-md: 1.5rem;
$font-size-lg: 2rem;
$font-size-xl: 3rem;
$font-size-xxl: 4rem;
$font-size-xxxl: 5rem;