// abstracts/_fonts.scss

@import url('https://fonts.googleapis.com/css2?family=Caprasimo&family=Roboto+Slab:wght@400;700&display=swap');

$font-family-primary: 'Roboto Slab', serif;
$font-family-secondary: 'Caprasimo', cursive;

$font-weight-regular: 400;
$font-weight-bold: 700;
